# =========================
# GITHUB
# =========================

GITHUB_PERSONAL_TOKEN=ghp_xxxxxxxxxxxxx

GITHUB_WORK_TOKEN=ghp_xxxxxxxxxxxxx


# =========================
# DATABASE
# =========================

POSTGRES_PERSONAL_URL=

POSTGRES_WORK_URL=